body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #F5F5F5;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.metric-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pad {
  padding: 15px;
}
.white {
  background: #FFFFFF;
}
